body{background-color: lightcyan;}
table {margin-left: auto;
    margin-right: auto;}
table, td{
border-collapse:collapse;
font-family:Trebuchet MS, sans-serif;}
table{
width: 750px;
}
td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}